[user]
	name = Kade Allen
	email = 38875538+kadeallendev@users.noreply.github.com
[github]
	user = kadeallendev
[init]
    defaultBranch = main
[core]
	editor = nvim
[diff]
	tool = nvimdiff
	colorMoved = default
[pull]
	rebase = false
[commit]
	; gpgsign = true
	verbose = true
[gpg]
	; program = ; Path to gpg-override

; URLs
[url "git@github.com:"]
	insteadOf = "gh:"

[advice]
	addIgnoredFile=false

; [credential]
; 	helper = /usr/local/share/gcm-core/git-credential-manager
; [credential "https://dev.azure.com"]
; 	useHttpPath = true
