# Get editor completions
"$schema" = 'https://starship.rs/config-schema.json'

scan_timeout = 10
command_timeout = 200

format = """
$username\
$directory\
( \\($git_branch$git_status$git_state\\))\
$status\
$character"""

[username]
style_user = "green"
style_root = "green"
format = "[$user]($style)"
disabled = false
show_always = true

[directory]
style = "blue"
format = " [$path]($style)"
fish_style_pwd_dir_length = 1

[git_branch]
style = "yellow"
format = "[$branch]($style)"

[git_status]
style = "yellow"
format = "[$ahead_behind$modified$staged]($style)"
modified = "*"
staged = "+"

[git_state]
style = "yellow"
format = "[ $state( $progress_current/$progress_total)]($style)"

[status]
style = "red"
format = " [\\[$status\\]($style)]"
disabled = false

[character]
success_symbol = "[>](white)"
error_symbol = "[<](red)"
